{%extends 'base.html'%}
{%load static%}
{% load mathfilters %}
{%block content%}

<div class="container">
    <br>
    <h3>Shopping Cart</h3>
    <hr>
    <div class="row">
        <div class="col-lg-9">
            <div class="card">
                <div class="table-responsive">                   
                    <table class="table table-borderless table-shopping-cart">
                        <thead class="text-muted">
                            {%for item in cart %}
                            {%with product=item.product%}
                            <tr class="small text-uppercase">
                                <th scope="col">Product</th>
                                <th scope="col" width="130">Quantity</th>
                                <th scope="col" width="130">Price</th>
                                <th scope="col" class="text-right d-none d-md-block" width="200"></th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr>
                                <td>
                                    <div class="itemside align-items-center">
                                        <div class="mb-4 border-1">   
                                                <div class="img1" style="width: 25%; height: 25%; margin-top: -20px;">                                
                                                <a href="{{product.get_absolute_url}}"><img class="img-fluid" alt="Responsive image"
                                                src="{{product.image.url}}" style="">
                                                </a>
                                            </div>
                                                
                                                
                                        </div>
                                    </div>
                                </td>
                                <td> <select id="select{{product.id}}" style="width: 77px;">
                                <option selected>
                                    {{item.qty}}
                                </option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="4">5</option>
              
                                </select>
                                
                                <button type="button" class="btn btn-primary btn-sm update" data-index="{{product.id}}" style="margin-top: 5px; width: 90%;">Update</button></td>                              
                                <td>
                                    <div class="price-wrap"> <div class="price"><strong>${{product.price|mul:item.qty}}</strong></div></div>
                                </td>
                                <td class="text-right"> 
                                    <a href="" class="btn btn-danger delete" data-index="{{product.id}}"><i class="fa fa-trash" aria-hidden="true"></i></a> 
                                </td>
                                
                            </tr>
                            {%endwith %}
                            {%empty%}<br>
                            <center><h3>There are no products in your cart.</h3></center><br>
                            {%endfor%}
                        </tbody>                     
                    </table>                    
                </div>         
            </div> 
            <hr>
            <a button type="button" href="{% url 'products' %}"class="btn btn-secondary btn-lg"><i class="fa fa-chevron-left" aria-hidden="true"></i> Back to store</a>
        </div><br>     
        <div class="col-lg-3">
            <div class="card mb-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex align-items-center" style="margin-bottom: 5px;">
                            <div class="display" id="total_amount">Subtotal:</div>
                            <div class="ml-auto">${{cart.total_amount}}</div>
                        </div>                                          
                        <div class="d-flex align-items-center" style="margin-bottom: 15px;">
                            <div class="display">Shipping:</div>
                            <div class="ml-auto">Free</div>
                        </div> 
                        <div class="d-flex align-items-center" style="margin-bottom: 5px;">
                            <div class="display font-weight-bold">Total:</div>
                            <div class="ml-auto font-weight-bold">${{cart.total_amount}}</div>
                        </div>                        
                        <hr> 
                        <form>
                            <div class="form-group"> 
                                
                                <small>
                                    <div class="icons-pay">
                                    <div class="img1" style="display: inline-block; width: 40px; margin: 20px;">
                                        <img src="{% static 'images/visa.png' %}">                                        
                                    </div>                                        
                                    <div class="img2" style="display: inline-block; width: 40px; margin: 20px;">                                     
                                        <img src="{% static 'images/maestro.png' %}">                                      
                                    </div> 
                                    <div class="img3" style="display: inline-block; width: 45px; margin: 20px;">                                     
                                        <img src="{% static 'images/paypal.png' %}">                                      
                                    </div> 
                                </div>
                                </small>
                            </div>
                        </form>
                        <a href="{% url 'checkout' %}" class="btn btn-primary btn-lg btn-block" data-abc="true" style="margin-top: -10px;">Checkout</a>
                    </div>
                </div>
            </div>
            
        </div>
        
    </div>
    <br>
</div>


<script>
    $(document).on('click', '.delete', function(e){
        e.preventDefault();
      
        $.ajax({
      
          type: 'POST',
          url: '{% url 'remove_from_cart' %}', 
          data: {
      
                product_id: $(this).data('index'),
                csrfmiddlewaretoken: "{{csrf_token}}",
                action: 'post'
          },
      
          success: function(json){
            
                location.reload();
                document.getElementById("cart-quantity").textContent = json.qty
                document.getElementById("total_amount").textContent = json.total_am

          },
      
          error: function(xhr, errmsg, err){
      
          }
        });
      })


      $(document).on('click', '.update', function(e){
        e.preventDefault();
      
        var productid = $(this).data('index');

        $.ajax({
      
          type: 'POST',
          url: '{% url 'update_cart' %}', 
          data: {
      
                product_id: $(this).data('index'),
                prod_quantity: $('#select' + productid + ' option:selected').text(),
                csrfmiddlewaretoken: "{{csrf_token}}",
                action: 'post'
          },
      
          success: function(json){
            
                location.reload();
                document.getElementById("cart-quantity").textContent = json.qty
                document.getElementById("total_amount").textContent = json.total_am

          },
      
          error: function(xhr, errmsg, err){
      
          }
        });
      })


</script>

{% endblock %}

