{%extends 'base.html' %}
{%load static%}
{%block content%}
<style>
    input,textarea 
    { border-radius: 1rem !important;
        border: 1px solid;
        height: 35px;
        width: 200px;
        background-color: white;}
    </style>
<div class="main-section">
    
    <div class="page-section account-header user-logged-in">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <!-- Load the sidebar here -->
                    <br><br>
                    {% include 'includes/customerSidebar.html' %}
                </div>
                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                    <br><br>
                          
                            <form action="{% url 'myDetails' %}" method="POST">
                                {% csrf_token %}
                                <div class="form-fields-set">
                                    <ul>
                                        <li>
                                            <div class="row" >                                                                                             
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                    <div class="field-holder">
                                                        <label >First Name: </label>
                                                        {{user.first_name}}
                                                    </div>
                                                </div>      
                                                
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                    <div class="field-holder">
                                                        <label>Last Name: </label>
                                                        {{user.last_name}}
                                                    </div>
                                                </div>  

                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                    <div class="field-holder">
                                                        <label>Email: </label>
                                                        {{user.email}}
                                                    </div>
                                                </div>

                                                <i><strong><h3>Edit profile info: </h3></i></strong><br>

                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                    <div class="field-holder">
                                                        <label>Country</label><br>
                                                        {{profile_form.country}}
                                                    </div>
                                                </div>  

                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                    <div class="field-holder">
                                                        <label>State</label><br>
                                                        {{profile_form.state}}
                                                    </div>
                                                </div>  

                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                    <div class="field-holder">
                                                        <label>City</label><br>
                                                        {{profile_form.city}}
                                                    </div>
                                                </div>  

                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                    <div class="field-holder">
                                                        <label>Street</label><br>
                                                        {{profile_form.street}}
                                                    </div>
                                                </div>  

                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                    <div class="field-holder">
                                                        <label>Pin Code</label><br>
                                                        {{profile_form.pin_code}}
                                                    </div>
                                                </div>  

                                            </div>
                                        </li>
                                    </ul>
                                    <div><br>
                                        <div class="field-holder">
                                            <div class="payment-holder input-button-loader">
                                                <input type="submit" class="btn btn-primary" value="Update Profile">
                                            </div>
                                        </div><br>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

{%endblock%}