{%extends 'base.html' %}
{%load static%}
{%block content%}
<div class="main-section">
    
    <div class="page-section account-header buyer-logged-in">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    
                    <br><br>
                    {% include 'includes/customerSidebar.html' %}
                </div>
                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
					<br /><br />

                    <div class="user-dashboard loader-holder">
                    
                            <center><h5 class="text-uppercase">Recent Orders</h5></center><br>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="responsive-table">
                                        <table class="table table-hover">
                                            <thead>
                                              <tr>
                                                <th scope="col">Order number</th>
                                                <th scope="col">Total to paid</th>
                                                <th scope="col">Date</th>
                                                <th scope="col">Status</th>
                                                <th scope="col">Information</th>
                                              </tr>
                                            </thead>
                                            <tbody>
                                                {% for order in orders %}
                                              <tr>                                             
                                                <td><span class="badge rounded-pill text-bg-success" style="font-size: 12px; color: white !important;">{{order.id}}</span></td>
                                                <td>${{ order.total_to_paid }}</td>
                                                <td>{{ order.ordered_date|date:'Y-m-d H:i'}}</td>
                                                <td>{{ order.status }}</td>
                                                <td><a href="{% url 'orderDetail' order.id %}" class="btn btn-info">Details</a></td>
                                              </tr>
                                              {% endfor %}
                                            </tbody>
                                          </table>

                                    </div>		
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{%endblock%}