{%extends 'base.html'%}
{%load static%}

{%block content%}
<div class="container">
<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">	
        	
        <br><br>
        {% include 'includes/customerSidebar.html' %}				
    </div>
    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
        <br/><br/>
        <h4>Hello, {{user.first_name| capfirst}}! We are happy to see you!</h4><br>

              <p class="card-text"><strong>Logged as</strong>: {{user.username}} ({{user.first_name| capfirst}} {{user.last_name| capfirst}})</p>
              <p class="card-text"><strong>Email</strong>: {{user.email}}</p><hr>
          <p class="card-text"><strong>Summary of your orders: {{orders_count}} orders</strong></p>
          <div>
            <canvas id="myChart"></canvas>
          </div>
          <br>
          


    </div>
</div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>

    const ctx = document.getElementById('myChart');

    new Chart(ctx, {
        type: 'bar',
        data: {
        labels: {{number_of_month|safe}},
        datasets: [{
            label: 'Number of orders per month',
            data: {{allOrders}},
            borderWidth: 1
        }]
        },
        options: {
        scales: {
            y: {
            beginAtZero: true
            }
        }
        }
    });

</script>

{%endblock%}