{%extends 'base.html'%}
{%load static%}
{% load crispy_forms_tags %}
{%block content%}

<style>
    input,textarea 
    { border-radius: 1rem !important;
        border: 1px solid;
        height: 35px;
        width: 200px;
        background-color: white;}
</style>
<body>
<div class="register-box" style="width: 360px;
    height: 620px;
    margin: auto;
    background-color: white;
    border-radius: 3px; ">
    <center><h2>Create your account</h2></center>
    
    <form action="{% url 'register' %}" method="post">
        {% csrf_token %}
        <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
            <div class="field-holder">
                <label style=" 
                display: flex;
                margin-top: 10px;
                font-size: 16px;">
            </label>{{form.email| as_crispy_field}}
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
            <div class="field-holder">
                <label style=" 
                display: flex;
                margin-top: 10px;
                font-size: 16px;">
            </label>{{form.username| as_crispy_field}}
            </div>
        </div> 
                <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
                    <div class="field-holder">
                        <label style=" 
                        display: flex;
                        margin-top: 10px;
                        font-size: 16px;"></label>{{form.first_name| as_crispy_field}}                      
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
                    <div class="field-holder">
                        <label style=" 
                        display: flex;
                        margin-top: 10px;
                        font-size: 16px;"></label>{{form.last_name| as_crispy_field}}
                    </div>
                </div>    
                              
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="field-holder">
                        <label style=" 
                        display: flex;
                        margin-top: 10px;
                        font-size: 16px;"></label>{{form.password| as_crispy_field}}
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="field-holder">
                        <label style=" 
                        display: flex;
                        margin-top: 10px;
                        font-size: 16px;"></label>{{form.confirm_password| as_crispy_field}}
                    </div>
                </div>
                <div class="errorlist">             
                    <div class="err" style="color: #d9534f; margin-left: -15px; font-weight: bold; margin-top: -10px; font-size: .875rem;">{{form.non_field_errors}}</div>
                </div>
                <input type="submit" value="Submit" style="
                    width: 330px;
                    height: 38px;
                    margin-top: 15px;
                    border: none;
                    background-color: #901F93;
                    color: white;
                    font-size: 16px;
                    margin-left: 15px;
                ">
                <center><p>Already have an account? <a href="{% url 'login' %}" style="text-decoration: underline;">Sign In</a></p></center>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        {% include 'includes/message.html'%}
                    </div>
                </div>
    </form>

</div>
<br><br>
<br><br>
</body>
{%endblock%}