{% load static %}

<style>

  footer p{
    padding:0;
    font-size: 0.8em;
    color: grey;
    margin: 1em 0;
    font-size: 1rem;
}
footer ul{
    list-style: none;
    display: flex;
    margin: 1em 0; 
}
footer ul li a{
    padding: 1em; 
    text-decoration: none;
    color: grey;
    transition: 100ms;
}
footer ul li a:hover{
    color: #be4dd1;
}

footer{
    width: 100%;
    background: #f0f0f0;
    color: #fff; 
    display: grid;
    place-items: center;
    padding: 2em; 
    font-size: 1rem;
}

/* Sticky Footer Styling */
body{
    min-height: 100vh;
}
.sticky-footer{
    position: sticky;
    top: 100%;
}


</style>
{% comment %} 
<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between border-bottom">
    </section>
    <!-- Section: Social media -->
  
    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4">
              GymStar
            </h6>
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Categories
            </h6>
            <p>
              <a href="#!" class="text-reset">Accessories</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Shoes</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Clothes</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Help
            </h6>
            <p>
              <a href="#!" class="text-reset">Shipping</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Refunds and complaints</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Payment methods</a>
            </p>          
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
            <p><a href="#!" class="text-reset">Contact</a></p>
            
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->
  
    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2022 Copyright:
      <a class="text-reset fw-bold" href="#">Agnieszka Homa</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer --> {% endcomment %}

  <footer class="sticky-footer">
    <!-- <h2>Footer Stick to the Bottom</h2> -->
    <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Products</a></li>
        <li><a href="#">Wishlist</a></li>
        <li><a href="#">Cart</a></li>
        <li><a href="#">Account</a></li>
    </ul>
    <p> © Copyright Agnieszka Homa 2023.</p>
</footer>