{% load static %}
  <style>
    .box {
      max-width: 400px;
      width: 100%;
    }
    .box .search-box {
      position: relative;
      height: 50px;
      width: 300px;
      max-width: 390px;
      margin: auto;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.18);
      border-radius: 25px;
    }
    .search-box input{
      height: 100%;
      width: 100%;
      border-radius: 25px;
      background: white;
      outline-color: none;
      border: none;
      padding-left:  20px;
      font-size: 16px;
    }
  
    .search-box .icon {
      position: absolute;
      right: -1px;
      top: 0;
      width: 50px;
      background: black;
      height: 100%;
      text-align: center;
      line-height: 50px;
      color: white;
      font-size: 19px;
      border-radius:0 25px 25px 0;
    }   
  </style>
  <center><div class="fast-info" style="background: rgb(37,173,157);
    background: linear-gradient(90deg, rgba(37,173,157,0.9037990196078431) 0%, rgba(167,42,159,1) 35%, rgba(218,34,141,1) 100%); height: 35px; font-size: 16px; color: white; font-weight: bold; letter-spacing: 1px;"><p style="text-align: center;
    vertical-align: middle;
    line-height: 35px;      ">OFF10 - DISCOUNT COUPON!</p></div></center>
  <div class="container">
  <nav class="navbar navbar-expand-lg bg-white" style="box-shadow: none;">
      <div class="container-fluid">
        <div class="logo">
        <a href="{% url 'home' %}">
          <img src="{% static 'images/logoc.png' %}" alt="Logo" style="max-width:100px; margin-right: 30px; margin-bottom:5px;">
        </a>
      </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Categories 
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li>
                  <a class="dropdown-item" href="{% url 'products' %}">All</a>
                </li>

                {% for categories in all_categories %}
                <li>
                  <a class="dropdown-item" href="{{categories.get_absolute_url}}" style="font-color: grey;">{{categories.name| capfirst}}</a>
                </li>
                {% endfor %}

              </ul>
            </li>         
  
            <li class="nav-item">
              <a class="nav-link" href="{% url 'products' %}"> Products</a>
            </li>
          </ul>
  

          <form  action="{% url 'search' %}" method="get">
          <div class="box">
            <div class="search-box">
            <input type="text" name="q" placeholder="Search">
            <a href = "{% url 'search'%}">
            <label for="" class="icon">
              <button><i class="fa-solid fa-magnifying-glass" style="color: white;"></i></button>
            </label>
          </a>
          </div>
        </div>
      </form>

  
          {%if user.is_authenticated %}
          <ul class="navbar-nav form-inline ml-3 my-2 my-lg-0">   
            <li class="nav-item">
              <div class="wishlist">
                <center><a href="{% url 'wishlist' %}" style="text-decoration: none; color: grey; padding: 5px 20px;"><i class="fa fa-heart" aria-hidden="true"></i></a></center>
              </div>
            </li>
            <li class="nav-item">

              <a type="button" role="button" href="{% url 'cart' %}" class="btn btn-outline-secondary" style="border-radius: 25px; color: grey; margin-right: 15px; padding: 13px;"> 
                <i class="fa fa-shopping-bag fa-lg" aria-hidden="true"></i>
                  &nbsp;
                  <div id="cart-quantity" class="d-inline-flex">
                      {% with qty_amount=cart|length %}
                       
                          {% if qty_amount > 0 %}
                      
                              {{ qty_amount }}
                              {% else %}
                                  0
                          {% endif %}
                      {% endwith %}
                  </div>             
              </a>

          </li>
          <li class="nav-item">
            <div class="account">
              <center><a href="{% url 'profile' %}" style="text-decoration: none; color: grey; padding:10px;"><i class="fa fa-user" aria-hidden="true"></i></a></center>
            </div>
          </li>
          &nbsp;
          <li class="nav-item" style="padding: 5px 20px;">

            <a href="{% url 'logout' %}" style="margin-top: 8px; color: grey;"><i class="fa fa-sign-out" aria-hidden="true"></i></a>
          </li>
          </ul>
          {%else%}
          <ul class="navbar-nav form-inline ml-3 my-2 my-lg-0">
            <div class="wishlist">
              <center><a href="{% url 'wishlist' %}" style="text-decoration: none; color: grey; padding: 5px 20px;"><i class="fa fa-heart" aria-hidden="true"></i></a></center>
            </div>
            <li class="nav-item">

              <a type="button" role="button" href="{% url 'cart' %}" class="btn btn-outline-secondary" style="border-radius: 25px; color: grey; margin-right: 15px; padding: 13px;"> 
                  <i class="fa fa-shopping-cart fa-lg" aria-hidden="true"> </i>
                  &nbsp;
                  <div id="cart-quantity" class="d-inline-flex">
                      {% with qty_amount=cart|length %}
                       
                          {% if qty_amount > 0 %}
                      
                              {{ qty_amount }}
                              {% else %}
                                  0
                          {% endif %}
                      {% endwith %}
                  </div>             
              </a>

          </li>

              <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">Sign In</a> 
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'register' %}">Sign Up</a>
            </li>
            </ul>
            {%endif%}
        </div>
      </div>
    </div>
    </nav>
    <br>

  

