{% extends 'base.html'%}
{%load static%}
{% load mathfilters %}

{%block content%}

<div class="container">
    <br>
    <h3>My Wishlist</h3>
    <hr>
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="table-responsive">                   
                    <table class="table table-borderless table-shopping-wishlist">
                        {%for item in wishlist %}
                        {%with product=item.product%}
                        <thead class="text-muted">
                            <tr class="small text-uppercase">
                                <th scope="col" width="600">Product</th>       
                                <th scope="col" width="400">Price</th>                    
                                <th scope="col" width="200">Is Available</th>
                                <th scope="col" class="text-right d-none d-md-block" width="200"></th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr>
                                <td>
                                    <div class="itemside align-items-center">
                                        <div class="mb-4 border-1">   
                                                <div class="img1" style="width: 25%; height: 25%; margin-top: -20px;">                                
                                                <a href="{{product.get_absolute_url}}"><img class="img-fluid" alt="Responsive image"
                                                src="{{product.image.url}}" style="">
                                                </a>
                                            </div>
                                                
                                                
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    ${{product.price}}
                                </td>
                                
                            
                                <td>
                                    <div class="price-wrap"> <div class="stock">{{product.is_available}}<strong></strong></div></div>
                                </td>
                                <td class="text-right"> 
                                    <a href="" class="btn btn-danger delete" data-index="{{product.id}}"><i class="fa fa-trash" aria-hidden="true"></i></a>
                                </td>
                                
                            </tr>
                            {%endwith %}
                            {%empty%}<br>
                            <center><h3>Wishlist is empty.</h3></center><br>
                            {%endfor%}
                        </tbody>                     
                    </table>                    
                </div>         
            </div> 
            
        </div>      
       
        
    </div>
    <br>
</div> 


   
<script>
    $(document).on('click', '.delete', function(e){
        e.preventDefault();
      
        $.ajax({
      
          type: 'POST',
          url: '{% url 'remove_from_wishlist' %}', 
          data: {
      
                product_id: $(this).data('index'),
                csrfmiddlewaretoken: "{{csrf_token}}",
                action: 'post'
          },
      
          success: function(json){
            
                location.reload();


          },
      
          error: function(xhr, errmsg, err){
      
          }
        });
      })

    </script>

{% endblock %}




