{%extends 'base.html'%}
{% load static %}

{%block content %}

<div class="container" style="position: relative;">
  
  <a href="{% url 'products' %}">
    <img src="{% static 'images/store-banner.png' %}" style="
    top: 100%;
    background-position: center;
    color: black;
    background-repeat: no-repeat;
    height: auto;
    background-size: cover;
    width: 100%;
    border-radius: 15px;">
    
    {% comment %} <button class="btn btn-primary btn-lg " style="position: absolute;
    top: 80%;
    left: 11%;
    width: 160px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #5F94F0;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;">Store</button> {% endcomment %}
  </a>

</div>
  <div class="album py-5">
      <div class="container">
        <center><h3>Popular products</h3></center>
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-3">
            {%for product in popular%}

              <div class="col">
                  <div class="card border-1">
                    <a href="{{ product.get_absolute_url }}"><div class="bg-image hover-zoom"><img class="img-responsive" style="height: auto; max-width: 100%;
                      height: 15vw;
                      object-fit: cover; margin-top: 5px;" alt="Responsive image" src="{{ product.image.url }}"></div></a>

                      <div class="card-body">
                          <p class="card-text">
                              <a class="text-info text-decoration-none" href="{{product.get_absolute_url}}">
                                  {{product.name}} </a>
                          </p>
                          <div class="d-flex justify-content-between align-items-center">
                              <h5>{{product.price}} $</h5>
                          </div>
                      </div>
                  </div>
              </div>

              {% endfor %}
          </div>
      </div>
  </div>


<div class="album py-5 ">
  <div class="container">
    <center><h3>Recently viewed</h3></center>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-3">
        {%for product in last_viewed%}

          <div class="col">
              <div class="card border-1">
                <a href="{{ product.get_absolute_url }}"><div class="bg-image hover-zoom"><img class="img-responsive" style="height: auto; max-width: 100%;
                  height: 15vw;
                  object-fit: cover; margin-top: 5px;" alt="Responsive image" src="{{ product.image.url }}"></div></a>

                  <div class="card-body">
                      <p class="card-text">
                          <a class="text-info text-decoration-none" href="{{product.get_absolute_url}}">
                              {{product.name}} </a>
                      </p>
                      <div class="d-flex justify-content-between align-items-center">
                          <h5>{{product.price}} $</h5>
                      </div>
                  </div>
              </div>
          </div>

          {% endfor %}
      </div><br>
      <div class="col" style="display:inline-block;">
        <div class="div1">
      <a href="{% url 'products' %}">
        <img src="{% static 'images/add-1.png' %}" style="
        height: auto;
        float:left;
        width: 50%;
        padding-right: 0.15em; ">
      </a>
    </div>
    <div class="div2">
      <a href="{% url 'products' %}">
        <img src="{% static 'images/add-2.png' %}" style="
        height: auto;
        width: 50%;
        float:right;
        padding-left: 0.15em; ">
      </a>
    </div>
    </div>
  </div>
  
</div>

{%endblock%}