{%extends 'base.html'%}
{%load static%}

{%block content%}
<br>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <img src="{{product.image.url}}" style="max-height: 70vh; max-width:100%" alt="">
    </div>
    <div class="col" style="display: inline-block;">
      <div class="text-uppercase">
        <strong>
          <h2>{{product.name}}</h2>
        </strong>
      </div>
      <h6>{{product.brand}}</h6><hr>
        {%if product.stock >= 1%}
        <small style="color: grey;">Available</small><br>
        <strong><h3>{{product.price}}$</h3></strong><br>
        {{product.description|safe}}<br><br>

        <div class="btn-group-toggle" data-toggle="buttons">Size:<br>
          <label class="btn btn-secondary active">
            <input type="checkbox" checked autocomplete="off">{{product.size}}
          </label><br><br>
        </div>

                                 
                  <label for="select">Quantity</label>                             
                  &nbsp;                              
                  <select id="select">

                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="4">5</option>

                  </select><br>

   
        <button type="button" id="add-to-cart-button" value="{{product.id}}" class="btn btn-secondary">          
          <i class="fa fa-cart-plus fa-lg" aria-hidden="true"></i> Add to cart</button>  
          
          <button type="button" id="wishlist-button" value="{{product.id}}" class="btn btn-outline-danger">          
            <i class="fa fa-heart fa-lg" aria-hidden="true"></i></button>

        {% comment %} <button type="button" class="btn btn-outline-danger"><i class="fa-solid fa-heart"></i></button> {% endcomment %}
        
        {%else%}
        <small>Out of stock</small>
        <h5>{{product.price}}$</h5><br>
        {{product.description}}<br><br>
        <button type="button" class="btn btn-danger" disabled>Out of stock</button>
        {%endif%}
      
        
      </div>
    </div>

  </div>
</div>

<br>

<script>

$(document).on('click', '#add-to-cart-button', function(e){
  e.preventDefault();

  $.ajax({

    type: 'POST',
    url: '{% url 'add_to_cart' %}', 
    data: {

          product_id: $('#add-to-cart-button').val(),
          prod_quantity: $('#select option:selected').text(),
          csrfmiddlewaretoken: "{{csrf_token}}",
          action: 'post'
    },

    success: function(json){
      
          //console.log(json)

          document.getElementById("cart-quantity").textContent = json.qty
    },

    error: function(xhr, errmsg, err){

    }
  });
})

</script>



{%endblock%}