{% extends 'base.html'%}
{%load static%}

{%block content%}

<style>
  select:focus{
    outline:none;
  }
</style>

<div class="page-section account-header user-logged-in">
  <div class="container">
      <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
              <!-- Load the sidebar here -->
              <br><br>
              
              <div class="d-flex flex-column flex-shrink-0 " style="width: 150px;">               

  <div class="frame">
                <div class="sidebar-widget"> 
                  
                  <h5 class="sidebar-title border-bottom">Category</h5></div>
                      <div class="category-widget">
                      <a href="{% url 'products' %}" class="selected-category" 
                      style="color:#2B2A2A; ">All</a><br>                  
                      {%for category in categories%}
                      <a href="/store/products/?category={{category.id}}" class="selected-category" style="color:#2B2A2A; ">{{category.name}}</a><br>
                      {%endfor%}
                    </div>          
                    
                    <div class="sidebar-widget mt-8">
                      <h5 class="sidebar-title border-bottom">Price Filter</h5>
                      <div class="price-filter">
                        <div class="price-select">
                          {%for p_filter in price_filter%}
                          <a href="/store/products/?price_filter={{p_filter.id}}" class="selected-price" style="color:#2B2A2A; ">{{p_filter.price}}</a><br>
                          {%endfor%}
                        </div>
                      </div>
                    </div>

                    <div class="sidebar-widget mt-8">
                      <h5 class="sidebar-title border-bottom">Brands</h5>
                      <div class="sidebar-widget">
                        <div class="brand-select">
                          {%for brands in brand %}
                          <a href="?brandID={{brands.id}}" class="selected-brand" style="display: inline; color:#2B2A2A;">{{brands.name}}<br></a>
                          {%endfor%}
                        </div>
                      </div>
                    </div>

                    <div class="sidebar-widget mt-8">
                      <h5 class="sidebar-title border-bottom">Size</h5>
                      <div class="sidebar-widget">
                        <div class="size-select">
                          {%for s in size %}
                          <a href="?sizeID={{s.id}}" class="selected-size;" style="color:#2B2A2A; ">{{s.name}}<br></a>
                          {%endfor%}
                        </div>
                      </div>
                    </div>                 

                    <div class="sidebar-widget mt-8">
                      <h5 class="sidebar-title border-bottom">Color</h5>
                      <div class="color-select">
                        <div class="d-flex flex-wrap">
                          {%for i in color%}
                          <a href="?colorID={{i.id}}" class="colors" style="background-color: {{i.code}};   margin: 5px;
                            display: inline-block;
                            width: 20px;
                            height: 20px;
                            border-radius: 50%;
                            border: 1px solid grey;"></a>
                          {%endfor%}
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
          </div>
        </ul>
          <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
              <div class="user-dashboard loader-holder">
                  <div class="user-holder">

                    <br>We have found {{product_page.count}} items.
                               

                    <div class="header-bottom-set-dropdown" style="float: right;">
                      <button class="dropdown-toggle header-action-btn" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Sort by
                      </button>
                      <ul class="dropdown-menu dropdown-menu-right" style="border: 1px solid #ccc;">
                        <li><a class="dropdown-item" href="/store/products/{% for i in product_page %}?LOWTOHIGH= {{i.id}} {% endfor %}">Price, Low to High</a></li>
                        <li><a class="dropdown-item" href="/store/products/{% for i in product_page %}?HIGHTOLOW= {{i.id}} {% endfor %}">Price, High to Low</a></li>
                        <li><a class="dropdown-item" href="/store/products/{% for i in product_page %}?ATOZ= {{i.id}} {% endfor %}">Name, A to Z</a></li>
                        <li><a class="dropdown-item" href="/store/products/{% for i in product_page %}?ZTOA= {{i.id}} {% endfor %}">Name, Z to A</a></li>
                      </ul>
                    </div>
                    <hr>
                  </div>
                  
    
                    {% if not product_page %}
                    <div class="col">There are currently no products to show.</div>
                      {% else %}
                      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                      {% for product in product_page %}
                      <div class="col-lg-4 d-flex align-items-stretch border mr-2 ml-2" style="justify-content:center; padding: 10px 10px 10px 10px; border-radius: 5px; width: 311px;">
                        <div class="mb-1 border-1">          
                          <a href="{{ product.get_absolute_url }}"><div class="bg-image hover-zoom"><img class="img-responsive" style="height: auto; max-width: 100%;
                          height: 15vw;
                          object-fit: cover; margin-top: 5px; padding: 20px;" alt="Responsive image" src="{{ product.image.url }}"></div></a>      
                          <div class="card-body px-1">
                            <p class="card-text">
                              <a class="text-dark text-decoration-none"
                                href="{{ product.get_absolute_url }}">{{ product.name }}</a>
                            </p>
                            <div class="fw-bold">{{product.price}}$</div>
                          </div>
                          
                            <small style="padding: 5px;">3 days delivery
                            <strong style="float: right;">{{product.get_points_avg|floatformat:1}}/5 <i class="fa fa-star" aria-hidden="true" style="color: #f7dc2a;"></i></strong></small><br>
                             
                            
                          <br><a href="{{ product.get_absolute_url }}" type="button" class="btn btn-primary" style="width:18rem;  display: block; margin: 0 auto; ">Check product</a><br>
                       
                        </div>
                        
                      </div>
                      {% endfor %}
                    </div>
                    {% endif %}

                    <br>

                    <nav aria-label="Page navigation example">
                      <ul class="pagination justify-content-center">

                        {%if product_page.has_previous %}
                        <li class="page-item"><a class="page-link" href="?page=1">&laquo First</a></li>
                        <li class="page-item"><a class="page-link" href = "?page={{product_page.previous_page_number}}">Previous</a></li>
                        {%endif%}
    
                        {% for i in nums %}
                        <li class="page-item"><a class="page-link" href = "?page={{forloop.counter}}">{{forloop.counter}}</a></li>
                        {% endfor %}
    
                        {%if product_page.has_next%}
                        <li class="page-item"><a class="page-link" href = "?page={{product_page.next_page_number}}">Next</a></li>
                        <li class="page-item"><a class="page-link" href = "?page={{product_page.paginator.num_pages}}">Last &raquo</a></li>
                        {%endif%}


                      </ul>
                    </nav>


                    
                  

                  </div>
              </div>
          </div>
      </div>
  </div>

</div>



</div>
<br>
<!-- Main Section End -->



{%endblock%}
