{% extends 'base.html'%}
{%load static%}


{%block content%}

<style>
  select:focus{
    outline:none;
  }
</style>

<div class="page-section account-header user-logged-in">
  <div class="container">
      <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
              <!-- Load the sidebar here -->
              <br><br>
              <h4><strong>Filter</strong></h4><br>
             
              <div class="d-flex flex-column flex-shrink-0 " style="width: 150px;">               
 <ul>
                <div class="sidebar-widget"> 
                  <h4 class="sidebar-title">Category</h4></div><br>
                      <div class="list-group">
                      <a href="{% url 'products' %}" class="list-group-item list-group-item-action">All</a>                  
                      {%for category in categories%}
                      <a href="?categoryID={{category.id}}" class="list-group-item list-group-item-action">{{category.name}}</a>
                      {%endfor%}
                    </div>          
                    
                    <div class="sidebar-widget mt-8">
                      <h4 class="sidebar-title">Price Filter</h4><br>
                      <div class="price-filter">
                        <div class="price-slider-amount">
                          {%for p_filter in price_filter%}
                          <li><a href="#" class="selected-price">{{p_filter.price}}</a></li>
                          {%endfor%}
                        </div>
                      </div>
                    </div>

                    <div class="sidebar-widget mt-8">
                      <h4 class="sidebar-title">Color</h4><br>
                      <div class="sidebar-widget-color">
                        <div class="d-flex flex-wrap">
                          {%for i in color%}
                          <li><a href="?colorID={{i.id}}" class="colors" style="background-color: {{i.name}}; width: 34px;
                            height: 34px; border-radius: 50%; border: 1px solid; margin-right: 5px;">col</a></li>
                          {%endfor%}
                        </div>
                      </div>
                    </div>
            </div>
          </div>
        </ul>
          <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
              <div class="user-dashboard loader-holder">
                  <div class="user-holder">                  
                    <br><p>We have found {{searchedProduct.count}} items.</p><hr><br>
    
                    {% if not searchedProduct %}
                    <div class="col">Sorry, we didn't find this product</div>
                      {% else %}       
                      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                        {% for product in searchedProduct %}
                      <div class="col-lg-4 d-flex align-items-stretch border mr-2 ml-2" style="justify-content:center; padding: 10px 10px 10px 10px; border-radius: 5px; width: 311px;">
                        <div class="mb-1 border-1">          
                          <a href="{{ product.get_absolute_url }}"><div class="bg-image hover-zoom"><img class="img-responsive" style="height: auto; max-width: 100%;
                          height: 15vw;
                          object-fit: cover; margin-top: 5px; padding: 20px;" alt="Responsive image" src="{{ product.image.url }}"></div></a>      
                          <div class="card-body px-1">
                            <p class="card-text">
                              <a class="text-dark text-decoration-none"
                                href="{{ product.get_absolute_url }}">{{ product.name }}</a>
                            </p>
                            <div class="fw-bold">{{product.price}}$</div>
                          </div>
                          
                            <small style="padding: 5px;">3 days delivery
                            <strong style="float: right;">{{product.get_points_avg|floatformat:1}}/5 <i class="fa fa-star" aria-hidden="true" style="color: #f7dc2a;"></i></strong></small><br>
                             
                            
                          <br><a href="{{ product.get_absolute_url }}" type="button" class="btn btn-primary" style="width:18rem;  display: block; margin: 0 auto; ">Check product</a><br>
                       
                        </div>
                        
                      </div>
                      {% endfor %}
                    </div>
                    {% endif %}
                  
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
</div>
<br>
<!-- Main Section End -->


{%endblock%}
