{% extends 'base.html' %}
{%load static%}
{% load mathfilters %}
{%block content%}
<style>
    .field-holder {
        padding-top: 20px;
    }
</style>
<body>
<div class="container">
    <form id="form" onsubmit="event.preventDefault();">
    <br>
    <h3>Shipping Info</h3>
    <hr>
    <div class="row">
        <div class="col-lg-8">
            <div class="row g-2" style="width: 600px;">
                <div class="col-md-6">
                    <div class="form-field">
                        <label>Name*</label>
                        <input class="form-control validate" id="name" type="text" value="{{address.name}}" required>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-field">
                        <label>Surname*</label>
                        <input class="form-control validate" id="surname" type="text" value="{{address.surname}}" required>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-field">
                        <label>Email*</label>
                        <input class="form-control validate" id="email" type="email" value="{{address.email}}" required>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-field">
                        <label>Country*</label>
                        <input class="form-control validate" id="country" type="text" value="{{address.country}}"required>
                    </div>
                </div>
        
                <div class="col-12">
                <div class="form-field">
                    <label>State*</label>
                    <input class="form-control validate" id="state" type="text" value="{{address.state}}" required>
                </div>
                </div>
                <div class="col-12">
                <div class="form-field">
                    <label>Street*</label>
                    <input class="form-control validate" id="street" type="text" value="{{address.street}}" required>
                </div>
                </div>
        
                <div class="col-md-6">
                    <div class="form-field mb-3">
                        <label>City*</label>
                        <input class="form-control validate" id="city" type="text" value="{{address.city}}" required>
                    </div>
                </div>
        
                <div class="col-md-6">
                    <div class="form-field mb-3">
                        <label>Pin code*</label>
                        <input class="form-control validate" id="pin_code" type="text" value="{{address.pin_code}}" required>
                    </div>
                </div>
            
            {% comment %} <br><br><button id="finish-order" type="submit" class="btn btn-primary">Place order</button> {% endcomment %}

            <div id="paypal-button-container"></div>
            <script src="https://www.paypal.com/sdk/js?client-id=AStiV0uuniTsunt2EcWiKehfG9ZfjiKUdZBmNFqslB5U9OJEcbZe7xkmoujo5j-dGsxTjsdegxzjodD2&currency=USD&intent=capture&enable-funding=venmo" data-sdk-integration-source="integrationbuilder"></script>

        </form>
        </div><br>
   
        </div> 
        
        
       
        <div class="col-lg-4">
            <div class="card mb-3">
                <div class="card">
                    
                    <div class="card-body">
                        <h5 class="card-title">Items: 
                        {% with qty_amount=cart|length %}
                       
                          {% if qty_amount > 0 %}
                      
                              {{ qty_amount }}
                              {% else %}
                                  0
                          {% endif %}
                      {% endwith %}</h5>Total: ${{cart.total_amount}}<hr>
                    {%for item in cart %}
                    {%with product=item.product%}
                      
                    
                      <div class="itemside align-items-center">
                        <div class="mb-4 border-1">   
                        <div class="img1" style="width: 15%; height: 15%;">                                
                                <a href="{{product.get_absolute_url}}">
                                    <img class="img-fluid" alt="Responsive image" src="{{product.image.url}}">
                                </a>
                        </div> 
                        <small>{{product.name}}<br>
                        Amount: {{item.qty}}
                        <span style="float: right; font-weight: 500;">${{product.price|mul:item.qty}}</span></small>
                        <hr>
                        </div>
                    </div>
                    {%endwith%}
                    {%endfor%}
                </div>
            </div>
            
        </div>
       
    </div>
    <br>
</div>
</div>
</body>

 <script>

      var total_amount='{{cart.total_amount}}';

      const paypalButtonsComponent = paypal.Buttons({
        // optional styling for buttons
        // https://developer.paypal.com/docs/checkout/standard/customize/buttons-style-guide/
        style: {
          color: "gold",
          shape: "pill",
          layout: "vertical"
        },

        onInit: function(data, actions) {

            actions.disable();
               

                document.querySelectorAll('.validate').forEach(item=> {
                    item.addEventListener('keyup', event => {
                        var o_checked = 'Yes';

                        function checkInputs() {
                            $(':input[required]').each(function(){
                                if ($(this).val() == '') {
                                    return o_checked = 'No';
                                }
                            });

                            return o_checked;
                        }

                        var isVerified = checkInputs()

                        if(isVerified === 'Yes') {
                            actions.enable();
                        }
                        else {
                            actions.disable();
                        }

                    });
        });


        var o_checked = 'Yes';

        function checkInputs() {
            $(':input[required]').each(function(){
                if ($(this).val() == '') {
                    return o_checked = 'No';
                }
            });

            return o_checked;
        }

        var isVerified = checkInputs()

        if(isVerified === 'Yes') {
            actions.enable();
        }
        else {
            actions.disable();
        }

    },

        // set up the transaction
        createOrder: (data, actions) => {
            // pass in any options from the v2 orders create call:
            // https://developer.paypal.com/api/orders/v2/#orders-create-request-body
            const createOrderPayload = {
                purchase_units: [
                    {
                        amount: {
                            value: total_amount
                        }
                    }
                ]
            };

            return actions.order.create(createOrderPayload);
        },

        // finalize the transaction
        onApprove: (data, actions) => {
            const captureOrderHandler = (details) => {
                const payerName = details.payer.name.given_name;
                console.log('Transaction completed');

                $.ajax({
      
                    type: 'POST',
                    url: '{% url 'finish_order' %}', 
                    data: {
          
                        name: $('#name').val(),
                        surname: $('#surname').val(),
                        email: $('#email').val(),
                        country: $('#country').val(),
                        state: $('#state').val(),
                        street: $('#street').val(),
                        city: $('#city').val(),
                        pin_code: $('#pin_code').val(),
        
                        csrfmiddlewaretoken: "{{csrf_token}}",
                        action: 'post'
                    },
                
                    success: function(json){
                      
                        window.location.replace("{% url 'payment_success' %}");
                 
                    },
                
                    error: function(xhr, errmsg, err){
                        window.location.replace("{% url 'payment_failed' %}");
                    }
                  });


            };

            return actions.order.capture().then(captureOrderHandler);
        },

        // handle unrecoverable errors
        onError: (err) => {
            console.error('An error prevented the buyer from checking out with PayPal');
        }
    });

    paypalButtonsComponent
        .render("#paypal-button-container")
        .catch((err) => {
            console.error('PayPal Buttons failed to render');
        });






</script>

{%endblock%}